*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  margin: 40px 0px ;
  color: blue;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#getmeme{
  height: 40px;
  width: 100px;
  text-align: center;
}
img{
  height: 500px;
  width:600px;
}

.product{
  height: 200px;
  background-color: red;
}